# DTW Survey

## Sample data preparation

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df_warranty_model_part_num_daily = pd.read_feather("../data/interim/df_warranty_model_part_num_daily.feather")

/Users/localadmin/anaconda3/envs/suzuki/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [3]:
# change format to datetime type
df_warranty_model_part_num_daily.date = pd.to_datetime(df_warranty_model_part_num_daily.date)

In [4]:
df_warranty_model_part_num_daily.head()

  model_cd    part_cd       date  n
0     None  *0000-000 2003-01-22  1
1     None  *1110-CT5 2000-06-16  1
2     None  *1110-CT5 2001-07-06  1
3     None  *1110-DC5 2001-01-10  1
4     None  *1110-MA6 2000-02-05  1

In [5]:
# group number of warranty with part & month
df_warranty_part_num_monthly = (df_warranty_model_part_num_daily
                                .fillna("!Unknown")
                                .groupby(["part_cd",pd.Grouper(key="date",freq="MS")])["n"]
                                .sum().reset_index())

In [6]:
df_warranty_part_num_monthly.head()

     part_cd       date  n
0  *0000-000 2002-05-01  1
1  *0000-000 2002-06-01  1
2  *0000-000 2002-11-01  1
3  *0000-000 2003-01-01  1
4  *0000-000 2003-05-01  1

In [7]:
# number of warranty for each parts
parts_top = (df_warranty_model_part_num_daily
             .groupby("part_cd")["n"]
             .sum()
             .sort_values(ascending=False))

In [8]:
parts_top.head()

part_cd
27610-76G    340055
95411-82K    107101
14200-588    104781
95410-82K     85231
85104-82K     83442
Name: n, dtype: int64

In [9]:
# select top30 parts
df_warranty_part_num_monthly_top30 = df_warranty_part_num_monthly.loc[
    df_warranty_part_num_monthly.part_cd.isin(parts_top.index[:30])
]

In [10]:
df_warranty_part_num_monthly_top30.head()

         part_cd       date    n
11142  09262-350 1997-01-01    3
11143  09262-350 1997-02-01    6
11144  09262-350 1997-03-01  239
11145  09262-350 1997-04-01  336
11146  09262-350 1997-05-01  356

## DTW

Normal DTW. For further detail, [Wikipedia](https://en.wikipedia.org/wiki/Dynamic_time_warping) has detailed description.  
The order of calculation complexity is $O(N^{2})$

In [11]:
from dtw import dtw # you can install this module with `conda install dtw -c temporary-recipes`
from scipy.spatial.distance import euclidean # euclidean distance

In [12]:
# pivot table 
df_warranty_part_num_monthly_top30_pivot = (df_warranty_part_num_monthly_top30
                                            .pivot_table(index="date", columns="part_cd", values="n")
                                            .fillna(0))

In [13]:
df_warranty_part_num_monthly_top30_pivot.head()

part_cd,09262-350,09283-320,09283-350,14200-588,17400-588,17521-50M,17521-70G,27610-76G,33220-76G,33400-76G,...,55311-75F,55311-81M,84701-70K,84701-82K,84702-70K,85104-82K,95200-58J,95410-82K,95411-72M,95411-82K
date,,,,,,,,,,,,,,,,,,,,,
1997-01-01,3.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997-02-01,6.0,14.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997-03-01,239.0,305.0,862.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997-04-01,336.0,386.0,1124.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997-05-01,356.0,431.0,1267.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# calc dtw using euclidian distance
dtw_1, cost_matrix_1, acc_cost_matrix_1, path_1 = \
    dtw(df_warranty_part_num_monthly_top30_pivot.loc[:,"09262-350"].fillna(0),
        df_warranty_part_num_monthly_top30_pivot.loc[:,"09283-320"].fillna(0),
        dist=euclidean)

In [15]:
dtw_1 # dtw distance

9.712686567164178

In [16]:
path_1 # dtw path (pair of index between 2 time-series)

(array([  0,   1,   2,   3,   4,   4,   5,   6,   7,   8,   8,   8,   8,
          8,   9,  10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  19,
         19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  28,  28,  28,
         28,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  38,
         38,  38,  38,  38,  38,  39,  39,  40,  41,  42,  43,  44,  44,
         44,  44,  45,  46,  47,  48,  49,  50,  50,  51,  51,  52,  53,
         54,  55,  55,  55,  55,  55,  55,  56,  57,  58,  58,  58,  58,
         59,  60,  61,  62,  63,  64,  65,  65,  66,  67,  68,  69,  70,
         71,  72,  72,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,
         82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
         95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
        108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
        121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
        134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146,
        147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159,
        160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172,
        173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185,
        186, 187, 188, 188, 188, 189, 190, 191, 192, 193, 194, 195, 196,
        197, 197, 197, 197, 197, 198, 199, 200, 201, 202, 203, 204, 205,
        206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
        219, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230,
        231, 232, 233, 234, 235, 236, 236, 237, 238, 239, 240, 241, 242,
        243, 244, 244, 244, 244, 244, 244, 244, 244, 244, 244, 244, 244,
        244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 253, 253, 253,
        253, 253, 253, 253, 253, 253, 253, 253, 253, 253, 253, 253, 253,
        253, 253, 253, 253, 253, 253, 253, 253, 253, 254, 255, 256, 257,
        258, 259, 260, 261, 262, 262, 262, 262, 262, 262, 262, 262, 262,
        262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262,
        262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262,
        262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262,
        262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262, 262,
        262, 262, 262, 262, 262, 262, 262, 263, 264, 265, 266, 267]),
 array([  0,   1,   2,   3,   4,   5,   6,   6,   7,   8,   9,  10,  11,
         12,  13,  13,  13,  13,  13,  14,  15,  15,  15,  16,  17,  18,
         19,  20,  20,  20,  20,  20,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  29,  29,  30,  30,  30,  31,  31,  31,  32,  33,
         34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  43,  44,  45,
         46,  47,  48,  49,  49,  49,  49,  50,  51,  52,  53,  54,  54,
         55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
         68,  69,  69,  69,  70,  70,  71,  72,  73,  74,  74,  75,  75,
         75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  85,  86,
         87,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,
         88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,
         88,  88,  88,  88,  88,  88,  88,  88,  88,  89,  89,  89,  89,
         89,  89,  89,  89,  89,  89,  89,  89,  89,  89,  89,  90,  90,
         90,  90,  90,  90,  90,  90,  90,  90,  90,  90,  90,  90,  90,
         90,  90,  90,  90,  90,  90,  91,  91,  91,  91,  91,  91,  91,
         92,  92,  92,  92,  92,  93,  94,  94,  95,  96,  97,  98,  98,
         98,  98,  99,  99, 100, 101, 101, 102, 103, 104, 105, 106, 106,
        107, 107, 108, 109, 110, 111, 111, 111, 111, 111, 111, 111, 111,
        112, 113, 114, 115, 116, 117, 118, 119, 119, 119, 119, 119, 119,
        119, 119, 120, 121, 122, 123, 124, 125, 125, 126, 127, 127, 127,
        128, 129, 130, 131, 132, 132, 133, 133, 134, 135, 135, 136, 137,
        138, 138, 138, 138, 139, 140, 141, 142, 142, 143, 144, 145, 145,
        145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
        158, 159, 160, 161, 162, 163, 164, 165, 165, 166, 167, 168, 169,
        170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
        183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 194,
        194, 194, 194, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203,
        204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
        217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229,
        230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242,
        243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255,
        256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267]))

In [17]:
# we can calculate dtw between 2 series whose lengthes are not same
dtw_2, *_, path_2 = dtw(df_warranty_part_num_monthly_top30_pivot.loc[:,"09262-350"].fillna(0),
                df_warranty_part_num_monthly_top30_pivot.loc[:,"09283-320"].iloc[1:100].fillna(0),
                dist=euclidean)

In [18]:
dtw_2

14.997275204359672

In [19]:
path_2

(array([  0,   1,   2,   3,   4,   4,   5,   6,   7,   8,   8,   8,   8,
          8,   9,  10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  19,
         19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  28,  28,  28,
         28,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  38,
         38,  38,  38,  38,  38,  39,  39,  40,  41,  42,  43,  44,  44,
         44,  44,  45,  46,  47,  48,  49,  50,  50,  51,  51,  52,  53,
         54,  55,  55,  55,  55,  55,  55,  56,  57,  58,  58,  58,  58,
         59,  60,  61,  62,  63,  64,  65,  65,  66,  67,  68,  69,  70,
         71,  72,  72,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,
         82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
         95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
        108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
        121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
        134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146,
        147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159,
        160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172,
        173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185,
        186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198,
        199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211,
        212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224,
        225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250,
        251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263,
        264, 265, 266, 267]),
 array([ 0,  0,  1,  2,  3,  4,  5,  5,  6,  7,  8,  9, 10, 11, 12, 12, 12,
        12, 12, 13, 14, 14, 14, 15, 16, 17, 18, 19, 19, 19, 19, 19, 19, 20,
        21, 22, 23, 24, 25, 26, 27, 28, 28, 28, 29, 29, 29, 30, 30, 30, 31,
        32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 42, 43, 44, 45, 46, 47,
        48, 48, 48, 48, 49, 50, 51, 52, 53, 53, 54, 55, 56, 57, 58, 59, 60,
        61, 62, 63, 64, 65, 66, 67, 68, 68, 68, 69, 69, 70, 71, 72, 73, 73,
        74, 74, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 84, 85, 86, 87,
        87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87,
        87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 88,
        88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 89, 89, 89,
        89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89,
        89, 90, 90, 90, 90, 90, 90, 90, 91, 91, 91, 91, 91, 92, 92, 92, 92,
        92, 92, 92, 92, 93, 94, 94, 94, 95, 96, 96, 96, 96, 96, 96, 96, 96,
        96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96,
        96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96,
        96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96,
        96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96,
        96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 97, 98]))

In [20]:
# make artificial series with multivariate
series_a = np.stack([df_warranty_part_num_monthly_top30_pivot.iloc[:,0].fillna(0).values,
                 df_warranty_part_num_monthly_top30_pivot.iloc[:,1].fillna(0).values], axis=-1)
series_b = np.stack([df_warranty_part_num_monthly_top30_pivot.iloc[1:100,2].fillna(0).values,
                 df_warranty_part_num_monthly_top30_pivot.iloc[1:100,3].fillna(0).values], axis=-1)

In [21]:
series_a.shape, series_b.shape

((268, 2), (99, 2))

In [22]:
# we can calculate dtw between multivariate series also.
dtw_3, *_, path_3 = dtw(series_a, series_b, dist=euclidean)

In [23]:
dtw_3

169.12354985651956

## FastDTW

FastDTW is algorithm for calculate DTW(Dynamic Time Warp) **approximately**.  
The order of calculation complexity is $O(N)$, although that of normal DTW is $O(N^{2})$.  
For further detail, please check [original report](https://pdfs.semanticscholar.org/05a2/0cde15e172fc82f32774dd0cf4fe5827cad2.pdf).

In [24]:
from fastdtw import fastdtw

In [25]:
dtw_4, path_4 = \
    fastdtw(df_warranty_part_num_monthly_top30_pivot.loc[:,"09262-350"].fillna(0),
        df_warranty_part_num_monthly_top30_pivot.loc[:,"09283-320"].fillna(0),
        dist=euclidean)

In [26]:
dtw_4 # distance with fastdtw is different from dtw

5464.0

In [27]:
path_4

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 2),
 (4, 2),
 (5, 2),
 (6, 2),
 (7, 2),
 (8, 3),
 (9, 4),
 (10, 5),
 (11, 5),
 (12, 5),
 (13, 6),
 (13, 7),
 (14, 8),
 (14, 9),
 (14, 10),
 (14, 11),
 (14, 12),
 (15, 13),
 (16, 14),
 (17, 15),
 (18, 16),
 (19, 17),
 (19, 18),
 (19, 19),
 (20, 20),
 (21, 20),
 (22, 20),
 (23, 20),
 (24, 20),
 (25, 20),
 (26, 21),
 (27, 22),
 (28, 23),
 (28, 24),
 (28, 25),
 (28, 26),
 (28, 27),
 (28, 28),
 (29, 29),
 (30, 29),
 (31, 29),
 (32, 30),
 (33, 31),
 (34, 32),
 (34, 33),
 (34, 34),
 (34, 35),
 (34, 36),
 (34, 37),
 (34, 38),
 (35, 39),
 (35, 40),
 (35, 41),
 (36, 42),
 (37, 43),
 (38, 44),
 (39, 45),
 (39, 46),
 (39, 47),
 (40, 48),
 (41, 48),
 (42, 48),
 (43, 48),
 (44, 48),
 (45, 48),
 (46, 49),
 (47, 49),
 (48, 49),
 (49, 49),
 (50, 50),
 (50, 51),
 (51, 52),
 (51, 53),
 (52, 54),
 (53, 54),
 (54, 55),
 (55, 56),
 (55, 57),
 (55, 58),
 (55, 59),
 (55, 60),
 (55, 61),
 (56, 62),
 (57, 63),
 (58, 64),
 (58, 65),
 (58, 66),
 (58, 67),
 (59, 68),
 (60, 69),
 (61, 69),
 (62, 69),
 (63, 70),
 (64, 70),
 (65, 71),
 (65, 72),
 (66, 73),
 (67, 74),
 (68, 74),
 (69, 75),
 (70, 75),
 (71, 75),
 (72, 76),
 (72, 77),
 (72, 78),
 (73, 79),
 (74, 80),
 (75, 81),
 (76, 82),
 (77, 83),
 (78, 84),
 (79, 85),
 (80, 85),
 (81, 86),
 (82, 87),
 (83, 88),
 (84, 88),
 (85, 88),
 (86, 88),
 (87, 88),
 (88, 88),
 (89, 88),
 (90, 88),
 (91, 88),
 (92, 88),
 (93, 88),
 (94, 88),
 (95, 88),
 (96, 88),
 (97, 88),
 (98, 88),
 (99, 88),
 (100, 88),
 (101, 88),
 (102, 88),
 (103, 88),
 (104, 88),
 (105, 88),
 (106, 88),
 (107, 88),
 (108, 88),
 (109, 88),
 (110, 88),
 (111, 88),
 (112, 88),
 (113, 88),
 (114, 88),
 (115, 88),
 (116, 88),
 (117, 89),
 (118, 89),
 (119, 89),
 (120, 89),
 (121, 89),
 (122, 89),
 (123, 89),
 (124, 89),
 (125, 89),
 (126, 89),
 (127, 89),
 (128, 89),
 (129, 89),
 (130, 89),
 (131, 89),
 (132, 90),
 (133, 90),
 (134, 90),
 (135, 90),
 (136, 90),
 (137, 90),
 (138, 90),
 (139, 90),
 (140, 90),
 (141, 90),
 (142, 90),
 (143, 90),
 (144, 90),
 (145, 90),
 (146, 90),
 (147, 90),
 (148, 90),
 (149, 90),
 (150, 90),
 (151, 90),
 (152, 90),
 (153, 91),
 (154, 91),
 (155, 91),
 (156, 91),
 (157, 91),
 (158, 91),
 (159, 91),
 (160, 92),
 (161, 92),
 (162, 92),
 (163, 92),
 (164, 92),
 (165, 93),
 (166, 94),
 (167, 94),
 (168, 94),
 (169, 94),
 (170, 95),
 (171, 96),
 (172, 97),
 (173, 98),
 (174, 98),
 (175, 99),
 (176, 100),
 (177, 101),
 (178, 102),
 (178, 103),
 (179, 104),
 (179, 105),
 (180, 106),
 (181, 107),
 (182, 108),
 (183, 109),
 (183, 110),
 (184, 111),
 (185, 111),
 (186, 112),
 (187, 112),
 (188, 113),
 (189, 114),
 (190, 114),
 (191, 114),
 (192, 114),
 (193, 114),
 (194, 114),
 (195, 114),
 (196, 115),
 (197, 116),
 (198, 117),
 (199, 118),
 (200, 119),
 (201, 119),
 (202, 119),
 (203, 119),
 (204, 119),
 (205, 119),
 (206, 119),
 (207, 119),
 (208, 120),
 (209, 121),
 (210, 122),
 (211, 123),
 (212, 124),
 (213, 125),
 (214, 125),
 (215, 126),
 (216, 127),
 (217, 127),
 (218, 127),
 (219, 128),
 (219, 129),
 (219, 130),
 (219, 131),
 (219, 132),
 (219, 133),
 (219, 134),
 (219, 135),
 (219, 136),
 (219, 137),
 (220, 138),
 (221, 139),
 (222, 140),
 (223, 141),
 (224, 142),
 (225, 143),
 (226, 144),
 (227, 145),
 (228, 145),
 (229, 146),
 (230, 147),
 (231, 148),
 (231, 149),
 (231, 150),
 (231, 151),
 (231, 152),
 (231, 153),
 (231, 154),
 (231, 155),
 (231, 156),
 (231, 157),
 (231, 158),
 (231, 159),
 (231, 160),
 (231, 161),
 (231, 162),
 (231, 163),
 (231, 164),
 (231, 165),
 (231, 166),
 (231, 167),
 (231, 168),
 (231, 169),
 (231, 170),
 (231, 171),
 (231, 172),
 (231, 173),
 (231, 174),
 (231, 175),
 (231, 176),
 (231, 177),
 (231, 178),
 (231, 179),
 (231, 180),
 (231, 181),
 (231, 182),
 (231, 183),
 (231, 184),
 (231, 185),
 (231, 186),
 (231, 187),
 (231, 188),
 (231, 189),
 (231, 190),
 (231, 191),
 (231, 192),
 (231, 193),
 (231, 194),
 (231, 195),
 (231, 196),
 (231, 197),
 (231, 198),
 (231, 199),
 (231, 200),
 (231, 201),
 (231, 202),
 (231, 203),
 (231, 204),
 (231, 205),
 (231, 206),
 (231, 207),
 (231, 208),
 (231, 209),
 (231, 210),
 (231, 211),
 (231, 212),
 (231, 213),
 (231, 214),
 (231, 215),
 (231, 216),
 (231, 217),
 (231, 218),
 (231, 219),
 (231, 220),
 (231, 221),
 (231, 222),
 (231, 223),
 (231, 224),
 (231, 225),
 (231, 226),
 (231, 227),
 (231, 228),
 (231, 229),
 (231, 230),
 (231, 231),
 (232, 232),
 (233, 233),
 (234, 234),
 (235, 235),
 (236, 236),
 (237, 237),
 (238, 238),
 (239, 239),
 (240, 240),
 (241, 241),
 (242, 242),
 (243, 243),
 (244, 244),
 (245, 245),
 (246, 246),
 (247, 247),
 (248, 248),
 (249, 249),
 (250, 250),
 (251, 251),
 (252, 252),
 (253, 253),
 (254, 254),
 (255, 255),
 (256, 256),
 (257, 257),
 (258, 258),
 (259, 259),
 (260, 260),
 (261, 261),
 (262, 262),
 (263, 263),
 (264, 264),
 (265, 265),
 (266, 266),
 (267, 267)]

In [28]:
# we can calculate dtw between 2 series whose lengthes are not same
dtw_5, path_5 = fastdtw(df_warranty_part_num_monthly_top30_pivot.loc[:,"09262-350"].fillna(0),
                df_warranty_part_num_monthly_top30_pivot.loc[:,"09283-320"].iloc[1:100].fillna(0),
                dist=euclidean)

In [29]:
# we can calculate dtw between multivariate series also.
dtw_6, *_, path_6 = fastdtw(series_a, series_b, dist=euclidean)

## Scalable implementation

- Implementation by Spark https://github.com/zaratsian/dynamic_time_warping
- Implementation by Teradata https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiq2oeY897jAhUPSo8KHTtNCOwQFjAAegQIARAB&url=https%3A%2F%2Fdocs.teradata.com%2Freader%2FAI5zLpFtwEQWIVvpnZgB8g%2FuUaUVLaXSRPTSh~ZmJ4RMw&usg=AOvVaw1hpP1_3a4W6pONtjHoxAXc

I expect DTW can be implemented with recursive aggregation query, but I coundl't find any webpage...